
<div class="row-fluid">
  <div class="span3">
    <div class="side-head">
      <h1><%= controller.controller_name.capitalize %></h1>
    </div>

    <div class="side-info hidden-phone">
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br><br>
    </div>
  </div>

  <div class="span9">
    <div class="catalog-head hidden-phone">
      <h3>
        Search
      </h3>
    </div>
    <%= form_tag({controller: :publications, action: :search}, method: :get) do -%>
      <div class="catalog">
        <div class="row-fluid searchform">
          <div class="span8">
            <%= search_field_tag 'keyword', params['keyword'], :placeholder=>"Search...", :class=>"span12 searchbar" %>
          </div>
          <div class="span2"><%= submit_tag 'Go', :class=>"mock-btn" %></div>
          <div class="span2"><span id="show-filters" class="mock-btn">Filters</span></div>
        </div>
        <div id="filters">
          <div class="row-fluid searchform">
            <div class="span4 checkerboard">
              <div class="span12"><b>Types</b></div>
              <% @types.each do |type| %>
                <div class="span6 check-style">
                  <%= check_box_tag 'types[]', type.title, checked = is_checked?(params[:types], type.title), id: remove_chars(type.title) %>
                  <%= label_tag remove_chars(type.title), type.title, :title => type.description %>
                </div>
              <% end %>
            </div>

            <div class="span4 checkerboard">
              <div class="span12"><b>Categories</b></div>
              <% @categories.each do |cat| %>
                <div class="span6 check-style">
                  <%= check_box_tag 'categories[]', cat.title, checked = is_checked?(params[:categories], cat.title), id: remove_chars(cat.title) %>
                  <%= label_tag remove_chars(cat.title), cat.title, :title => cat.description %>
                </div>
              <% end %>
            </div>

            <div class="span4 checkerboard">
              <div class="span12"><b>Clusters</b></div>
              <% @clusters.each do |clu| %>
                <div class="span6 check-style">
                  <%= check_box_tag 'clusters[]', clu.title, checked = is_checked?(params[:clusters], clu.title), id: remove_chars(clu.title) %>
                  <%= label_tag remove_chars(clu.title), clu.title, :title => clu.description %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end -%>

    <div class="catalog-head"><h3>Articles</h3></div>
    <div class="catalog">
      
      <% @publications.each do |article| %>

        <div class="foundya">
          <h3><%= link_to article.title, publication_path(article.id) %></h3>
          <p><%= truncate_to_paragraph(article.content) %></p>
          <i>Published <%= article.created_at.strftime("%d %b. %Y") %></i>
        </div>
      <% end %>

    <%= paginate @publications, :remote => false %>
</div>
  </div>
</div>
