
<div class="row-fluid">
  <div class="span3">
    <div class="side-head">
      <h1><%= controller.controller_name.capitalize %></h1>
    </div>

    <div class="side-info hidden-phone">
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br><br>

      [Advertisement here]<br>
      [Advertisement here]<br>
    </div>
  </div>

  <div class="span9">
    <div class="catalog-head">
      <h3>
        Search
      </h3>
    </div>
    <%= form_tag({controller: :publications, action: :search}, method: :get) do -%>
      <div class="catalog">
        <div class="row-fluid searchform">
          <div class="span10">
            <%= search_field_tag 'keyword', params['keyword'], :placeholder=>"Search...", :class=>"span12 searchbar" %>
          </div>
          <div class="span2"><%= submit_tag 'Go', :class=>"mock-btn" %></div>
        </div>

        <div class="row-fluid searchform">
          <div class="span4 checkerboard">
            <% @types.each do |type| %>
              <div class="span6 check-style">
                <%= check_box_tag 'types[]', type.title, checked = is_checked?(params[:types], type.title), id: type.title.gsub(/\s+/, "") %>
                <%= label_tag type.title.gsub(/\s+/, ""), type.title %>
              </div>
            <% end %>
          </div>

          <div class="span4 checkerboard">
            <% @categories.each do |cat| %>
              <div class="span6 check-style">
                <%= check_box_tag 'categories[]', cat.title, checked = is_checked?(params[:categories], cat.title), id: cat.title.gsub(/\s+/, "") %>
                <%= label_tag cat.title.gsub(/\s+/, ""), cat.title %>
              </div>
            <% end %>
          </div>

          <div class="span4 checkerboard">
            <% @clusters.each do |clu| %>
              <div class="span6 check-style">
                <%= check_box_tag 'clusters[]', clu.title, checked = is_checked?(params[:clusters], clu.title), id: clu.title.gsub(/\s+/, "") %>
                <%= label_tag clu.title.gsub(/\s+/, ""), clu.title %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end -%>

    <table>
      <% @publications.each do |article| %>
      <tr>
        <td>
          <%= link_to article.title, publication_path(article.id) %>
        </td>
      </tr>
      <% end %>
    </table>

    <%= paginate @publications, :remote => false %>

  </div>
</div>
