<h1>Publication#index</h1>

<%= form_tag({controller: :publications, action: :search}, method: :get) do -%>
  <div><%= search_field_tag 'keyword', params['keyword'] %></div>
  <div>
    <p>Type</p>
    <% @types.each do |type| %>
      <%= label_tag type.title.gsub(/\s+/, ""), type.title %>
      <%= check_box_tag 'types[]', type.title, checked = is_checked?(params[:types], type.title), id: type.title.gsub(/\s+/, "") %>
    <% end %>
  </div>
  <div>
    <p>Cluster category</p>
    <% @clusters.each do |clu| %>
      <%= label_tag clu.title.gsub(/\s+/, ""), clu.title %>
      <%= check_box_tag 'clusters[]', clu.title, checked = is_checked?(params[:clusters], clu.title), id: clu.title.gsub(/\s+/, "") %>
    <% end %>
  </div>
  <div>
    <p>Category</p>
    <% @categories.each do |cat| %>
      <%= label_tag cat.title.gsub(/\s+/, ""), cat.title %>
      <%= check_box_tag 'categories[]', cat.title, checked = is_checked?(params[:categories], cat.title), id: cat.title.gsub(/\s+/, "") %>
    <% end %>
  </div>
  <div><%= submit_tag 'Search' %></div>
<% end -%>

<table>
  <% @publications.each do |article| %>
    <tr>
      <td><%= link_to article.title, publication_path(article.id) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @publications, :remote => false %>