    <div class="wiz-wrap">
      <div class="row-fluid">
        <div class="span4 hidden-phone"></div>
        <div class="span4 wiz-content">
          <div class="wiz">
            <h2>Step 3: Cluster</h2>
            <p>Choose the clusters you are interested in.</p>

            <%= form_tag(article.guide_path(:keyword), :method => :get) do -%>
            <div >
              <% @clusters.each do |clu| %>
              <div class ="check-style" >
                <%= check_box_tag 'clusters[]', clu.title, checked = is_checked?(params[:clusters], clu.title), id: remove_chars(clu.title) %>
                <%= label_tag remove_chars(clu.title), restore_whitespace(clu.title) %> 
                </div>
                <div class="desc"><i><%= clu.description %></i></div>
              <% end %>
              <br>
            </div>
            <div><%= link_to "Previous", previous_wizard_path, :class=>"mock-btn" %>  <%= submit_tag 'Next', :class=>"mock-btn nxt" %></div>
            <% end -%>
          </div>
        </div>
        <div class="span4 hidden-phone"></div>
      </div>
    </div>